<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<link href="css/style.css" rel="stylesheet" />
		
		<title>Insertar ina categoria</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
		  <span class="navbar-text">
		   Registro de categoria.
		  </span>
		</nav>
		
		<div class = "container-fluid" id="formulario">
		
			<div class="titulo">
				
				<h3 id="titulo">Ingrese los datos para una nueva categoria</h3>
			
			</div>
			
		
			<form th:action="@{/guardarCat}" th:object="${categoria}" method="post">
			  <div class="form-row">
			    <div class="form-group col-md-12">
			      <input type="text" class="form-control" placeholder="Categoria"  th:field="*{categoria}">
			      <span th:errors="*{categoria}" style="color:#FF0000"></span>
			    
			    </div>
			    <br>
		  	 <button type="submit" class="btn btn-info">Guardar</button>
			</form>
			<hr>
		</div>
	
	
	</body>
</html>